<div class="item-editor col">
    <div class="form-container">
        <BSBasicInput T="string"
                      @bind-Value="@ItemDto.Name"></BSBasicInput>

        <div class="@(hideStoreDropdown ? "hidden" : "")">
            <BSDropdown>
                <BSDropdownToggle Color="Color.Primary">@(selectedStore?.Name ?? "Choose store")</BSDropdownToggle>
                <BSDropdownMenu>
                    @foreach (Database.Entities.Store store in AvailableStores)
                    {
                        <BSDropdownItem>
                            <CustomDropdownItem T="Database.Entities.Store"
                                                Item="@store"
                                                DropdownText="@store.Name"
                                                OnClickCallback="OnStoreChanged">

                            </CustomDropdownItem>
                        </BSDropdownItem>
                    }
                </BSDropdownMenu>
            </BSDropdown>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Price per Quantity</span>
            </div>
            <BSBasicInput T="decimal" @bind-Value="@pricePerQuantity"></BSBasicInput>
            <div class="input-group-append">
                <span class="input-group-text">€</span>
            </div>
        </div>
        <div>
            <BSDropdown>
                <BSDropdownToggle Color="Color.Primary">@ItemDto.QuantityType.ToString()</BSDropdownToggle>
                <BSDropdownMenu>
                    @foreach (EntityModels.QuantityType quantityType in availableQuantityTypes)
                    {
                        <BSDropdownItem>
                            <CustomDropdownItem T="EntityModels.QuantityType"
                                                Item="@quantityType"
                                                DropdownText="@quantityType.ToString()"
                                                OnClickCallback="OnQuantityTypeChanged">

                            </CustomDropdownItem>
                        </BSDropdownItem>
                    }
                </BSDropdownMenu>
            </BSDropdown>
        </div>

        <div>
            <BSButtonGroup>
                <BSButton Color="Color.Success" @onclick="OnSaveClicked">Save</BSButton>
                <BSButton Color="Color.Warning" @onclick="OnCancleClicked">Cancle</BSButton>
                <BSButton Color="Color.Danger"
                          @onclick="OnDeactivateClicked"
                          IsDisabled="@(EditMode == EntityModels.ItemEditMode.Create)">Deactivate</BSButton>
            </BSButtonGroup>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EntityModels.ItemDto ItemDto { get; set; }
    [Parameter]
    public EntityModels.ItemEditMode EditMode { get; set; }
    [Parameter]
    public List<Database.Entities.Store> AvailableStores { get; set; } = new List<Database.Entities.Store>();
    [Parameter]
    public Action<EntityModels.ItemDto, EntityModels.ItemEditMode, Database.Entities.Store> OnSaveCallback { get; set; }
    [Parameter]
    public Action<int> OnCancleCallback { get; set; }
    [Parameter]
    public Action<EntityModels.ItemDto> OnDeactivateCallback { get; set; }

    private List<EntityModels.QuantityType> availableQuantityTypes =
        Enum.GetValues(typeof(EntityModels.QuantityType)).Cast<EntityModels.QuantityType>().ToList();

    private Database.Entities.Store selectedStore { get; set; }
    private bool hideStoreDropdown = false;

    private decimal pricePerQuantity;

    protected override void OnInitialized()
    {
        pricePerQuantity = ItemDto?.PricePerQuantity ?? 1;

        if(EditMode == EntityModels.ItemEditMode.Create)
        {
            if(ItemDto != null)
                ItemDto.QuantityType = EntityModels.QuantityType.Unit;
        }
        else
        {
            hideStoreDropdown = true;
        }
    }

    private void OnSaveClicked()
    {
        OnSaveCallback.Invoke(ItemDto, EditMode, selectedStore);
    }

    private void OnDeactivateClicked()
    {
        OnDeactivateCallback?.Invoke(ItemDto);
    }

    private void OnCancleClicked()
    {
        OnCancleCallback?.Invoke(0);
    }

    private void OnQuantityTypeChanged(EntityModels.QuantityType quantityType)
    {
        ItemDto.QuantityType = quantityType;
    }

    private void OnStoreChanged(Database.Entities.Store store)
    {
        selectedStore = store;
    }
}
