@using ProjectHermes.ShoppingList.Frontend.Models.Items;
@using ProjectHermes.ShoppingList.Frontend.Models;
@using ProjectHermes.ShoppingList.Frontend.Models.Items.Models
@using ProjectHermes.ShoppingList.Frontend.Models.Stores.Models

<div class="availability">
    <div class="d-flex">
        <div class="align-items-center d-flex">
            <div class="price-input">
                <Input @bind-Value="@Model.PricePerQuantity"/>
            </div>
            <div class="mr-2">@(State.EditedItem.QuantityType.PriceLabel)</div>
        </div>
        <Button Class="d-flex align-items-center ml-auto"
                OnClick="@OnRemoveStoreButtonClicked"
                Danger="true">
            <Icon Type="minus"></Icon>
        </Button>
    </div>
    <div class="d-flex pt-1">
        <Select Class="mr-2"
                DataSource="State.Stores.ToList()"
                TItem="Store"
                TItemValue="Guid"
                DefaultValue="Model.Store.Id"
                ValueName="@nameof(Store.Id)"
                LabelName="@nameof(Store.Name)"
                OnSelectedItemChanged="@OnStoreChanged">
        </Select>
        <SingleSelect Class=""
                      TItem="ItemSection"
                      TValue="Guid"
                      ValueName="@nameof(ItemSection.Id)"
                      LabelName="@nameof(ItemSection.Name)"
                      DataSource="@Model.Store.Sections.ToList()"
                      OnItemChanged="OnDefaultSectionChanged"
                      DefaultValue="@Model.DefaultSectionId"></SingleSelect>
    </div>
</div>

@code {
    [Parameter] public ItemsState State { get; set; }
    [Parameter] public ItemAvailability Model { get; set; }
    [Parameter] public int Index { get; set; }
    [Parameter] public Action<int> OnRemove { get; set; }

    private void OnStoreChanged(Store store)
    {
        Model.Store = store.AsItemStore();

        var defaultSection = store.Sections.Single(s => s.IsDefaultSection);
        Model.ChangeDefaultSectionId(defaultSection.Id.BackendId);
        StateHasChanged();
    }

    private void OnRemoveStoreButtonClicked()
    {
        OnRemove(Index);
        State.StateChanged();
    }

    private void OnDefaultSectionChanged(ItemSection section)
    {
        Model.ChangeDefaultSectionId(section.Id);
    }
}