@using ProjectHermes.ShoppingList.Frontend.Models;
@using ProjectHermes.ShoppingList.Frontend.Models.Items;

<div class="d-flex flex-row py-2">
    <div>
        <div class="font-weight-bold">Quantity&nbsp;Type</div>
        <SingleSelect 
            Class="max-w-100 mt-1"
            TItem="QuantityType"
            TValue="int"
            ValueName="@nameof(QuantityType.Id)"
            LabelName="@nameof(QuantityType.Name)"
            Placeholder="QuantityType"
            DefaultValue="@State.EditedItem.QuantityType.Id"
            DataSource="@State.QuantityTypes.ToList()"
            OnItemChanged="@OnQuantityTypeChanged">
        </SingleSelect>
    </div>
    @if (State.EditedItem.QuantityType.Id == 0)
    {
        <div class="ml-4 d-flex">
            <div>
                <div class="font-weight-bold">In&nbsp;Packet</div>
                <SingleSelect 
                    Class="mt-1"
                    TItem="QuantityTypeInPacket"
                    TValue="int"
                    ValueName="@nameof(QuantityTypeInPacket.Id)"
                    LabelName="@nameof(QuantityTypeInPacket.Name)"
                    Placeholder="QuantityInPacketType"
                    DefaultValue="@State.EditedItem.QuantityInPacketType.Id"
                    DataSource="@State.QuantityTypesInPacket.ToList()"
                    OnItemChanged="@OnQuantityInPacketTypeChanged">
                </SingleSelect>
            </div>
            <div class="d-flex align-self-end">
                <div class="ml-2 d-flex max-w-80">
                    <div>
                        <Input @bind-Value="@State.EditedItem.QuantityInPacket"/>
                    </div>
                    <div class="mt-1">@State.EditedItem.QuantityInPacketType.QuantityLabel</div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public ItemsState State { get; set; }

    private void OnQuantityTypeChanged(QuantityType quantityType)
    {
        State.EditedItem.QuantityType = quantityType;
        if (quantityType.Id == 1)
        {
            State.EditedItem.QuantityInPacket = null;
            State.EditedItem.QuantityInPacketType = null;
        }
    }

    private void OnQuantityInPacketTypeChanged(QuantityTypeInPacket quantityTypeInPacket)
    {
        State.EditedItem.QuantityInPacketType = quantityTypeInPacket;
    }
}