@using ProjectHermes.ShoppingList.Frontend.Models;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Stores.Models;

<div class="my-1 d-flex">
    <div class="d-flex mr-2">
        <Button Icon="up" Class="align-items-center justify-content-center d-flex"
                OnClick="@OnDecrementSortingIndexButtonClicked"
                Disabled="@(Model.SortingIndex == State.EditedStore.MinSortingIndex)"></Button>
        <Button Icon="down" Class="align-items-center justify-content-center d-flex"
                OnClick="@OnIncrementSortingIndexButtonClicked"
                Disabled="@(Model.SortingIndex == State.EditedStore.MaxSortingIndex)"></Button>
    </div>
    <div class="max-w-200">
        <Input @bind-Value="@Model.Name" />
    </div>
    <div class="ml-2">
        <Button Icon="close"
                Class="align-items-center justify-content-center d-flex"
                OnClick="@OnRemoveButtonClicked"></Button>
    </div>
</div>

@code {
    [Parameter] public StoresState State { get; set; }
    [Parameter] public Models.Stores.Models.Section Model { get; set; }

    public void OnRemoveButtonClicked()
    {
        State.EditedStore.Sections.Remove(Model);
        State.StateChanged?.Invoke();
    }

    public void OnIncrementSortingIndexButtonClicked()
    {
        State.EditedStore.IncrementSection(Model);
        State.StateChanged?.Invoke();
    }

    public void OnDecrementSortingIndexButtonClicked()
    {
        State.EditedStore.DecrementSection(Model);
        State.StateChanged?.Invoke();
    }
}