@using ProjectHermes.ShoppingList.Frontend.Models;
@using ProjectHermes.ShoppingList.Frontend.Models.Stores.Models
@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Stores.Models;

<div class="my-3">
    <div class="d-flex align-items-center">
        <div>
            Sections
        </div>
        <div class="ml-2">
            <Button Icon="plus"
                    Class="align-items-center justify-content-center d-flex"
                    OnClick="@OnAddSectionButtonClicked"></Button>
        </div>
    </div>
    @foreach (var section in State.EditedStore.Sections)
    {
        <Section State="@State" Model="@section"></Section>
    }
</div>

<div>
    Default Section:
    <SingleSelect TItem="Models.Stores.Models.Section"
                  TValue="SectionId"
                  ValueName="@nameof(Models.Stores.Models.Section.Id)"
                  LabelName="@nameof(Models.Stores.Models.Section.Name)"
                  DefaultValue="@State.EditedStore.Sections.First(s => s.IsDefaultSection).Id"
                  DataSource="@State.EditedStore.Sections.ToList()"
                  OnItemChanged="OnDefaultSectionChanged"></SingleSelect>
</div>

@code {
    [Parameter] public StoresState State { get; set; }

    private void OnDefaultSectionChanged(Models.Stores.Models.Section section)
    {
        State.EditedStore.ChangeDefaultSection(section.Id.FrontendId);
    }

    private void OnAddSectionButtonClicked()
    {
        State.EditedStore.AddSection();
    }
}