@typeparam TItem
@typeparam TValue

<Select Class="@Class"
        Placeholder="@Placeholder"
        ValueName="@ValueName"
        LabelName="@LabelName"
        DataSource="@DataSource"
        OnSelectedItemChanged="OnSelectedItemChanged"
        AllowClear="@AllowClear"
        DropdownRender="@OnRender"
        Value="@DefaultValue">
</Select>

@code {
    [Parameter] public string Class { get; set; }
    [Parameter] public string Placeholder { get; set; }

    [Parameter] public List<TItem> DataSource { get; set; }
    [Parameter] public TValue DefaultValue { get; set; }
    [Parameter] public string ValueName { get; set; }
    [Parameter] public string LabelName { get; set; }

    [Parameter] public bool CanAddItem { get; set; } = false;
    [Parameter] public bool AllowClear { get; set; } = false;

    [Parameter] public EventCallback<TItem> OnItemChanged { get; set; }
    [Parameter] public EventCallback<string> OnItemAdded { get; set; }

    private string newItemName = "";

    private async void OnSelectedItemChanged(TItem item)
    {
        await OnItemChanged.InvokeAsync(item);
    }

    private async void OnAddNewItem()
    {
        await OnItemAdded.InvokeAsync(newItemName);
        newItemName = "";
    }

    private RenderFragment OnRender(RenderFragment originNode)
    {
        RenderFragment customDropdownRender =
            @<Template>
                <div>
                    @originNode
                    @if (CanAddItem)
                    {
                        <Divider Class="my-1"></Divider>
                        <div class="d-flex p-2">
                            <div class="max-w-100">
                                <Input @bind-Value="@newItemName" />
                            </div>
                            <a class="d-flex align-items-center min-w-50 px-2 py-1" @onclick="OnAddNewItem">
                                <Icon Type="plus" Theme="outline"></Icon>
                            </a>
                        </div>
                    }
                </div>
            </Template>;
        return customDropdownRender;
    }
}