@using ProjectHermes.ShoppingList.Frontend.Redux.Shared.Constants
<div class="nav-menu py-2">
    <ul class="nav d-flex justify-content-around">
        <li class="nav-item">
            <NavLink class="nav-link d-flex flex-column p-0" href="" Match="NavLinkMatch.All">
                <i class="bi bi-bag align-self-center"></i>
                <div>Shopping</div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex flex-column p-0" href="@PageRoutes.Items">
                <i class="bi bi-clipboard align-self-center"></i>
                <div>Items</div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex flex-column p-0" href="@PageRoutes.Recipes">
                <i class="bi bi-book align-self-center"></i>
                <div>Recipes</div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex flex-column p-0" href="@PageRoutes.Stores">
                <i class="bi bi-basket2-fill align-self-center"></i>
                <div>Stores</div>
            </NavLink>
        </li>
        <li class="nav-item">
            <div class="nav-link d-flex flex-column p-0">
                <i class="bi bi-list align-self-center"></i>
                <div>Menu</div>
            </div>
        </li>
    </ul>
</div>
@*
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-cart" aria-hidden="true"></span> Shopping List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageRoutes.Items">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Items
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageRoutes.Stores">
                <span class="oi oi-basket" aria-hidden="true"></span> Stores
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageRoutes.Manufacturers">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Manufacturers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageRoutes.ItemCategories">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Item Categories
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@PageRoutes.Recipes">
                <span class="oi oi-book" aria-hidden="true"></span> Recipes
            </NavLink>
        </li>
    </ul>
</div>
*@
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}