@using ProjectHermes.ShoppingList.Frontend.Redux.Shared.Constants
<div class="nav-menu py-2">
    <ul class="nav d-flex justify-content-around">
        <li class="nav-item">
            <NavLink class="nav-link d-flex" href="" Match="NavLinkMatch.All">
                <i class="bi bi-bag align-self-center"></i>
                <div class="align-self-center">Shopping</div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex" href="@PageRoutes.Items">
                <i class="bi bi-clipboard align-self-center"></i>
                <div class="align-self-center">Items</div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex" href="@PageRoutes.Recipes">
                <i class="bi bi-book align-self-center"></i>
                <div class="align-self-center">Recipes</div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex" href="@PageRoutes.Stores">
                <i class="bi bi-shop align-self-center"></i>
                <div class="align-self-center">Stores</div>
            </NavLink>
        </li>
        <li class="nav-item nav-item-menu">
            <div class="nav-link d-flex" onclick="@ToggleNavMenu">
                <i class="bi bi-list align-self-center"></i>
                <div class="align-self-center">Others</div>
            </div>
        </li>
        <div class="@NavMenuCssClass nav-menu-ext">
            <li class="nav-item-ext">
                <NavLink class="nav-link d-flex" href="@PageRoutes.Manufacturers">
                    <i class="bi bi-briefcase align-self-center"></i>
                    <div class="align-self-center">Manufacturers</div>
                </NavLink>
            </li>
            <li class="nav-item-ext">
                <NavLink class="nav-link d-flex" href="@PageRoutes.ItemCategories">
                    <i class="bi bi-tag align-self-center"></i>
                    <div class="align-self-center">Categories</div>
                </NavLink>
            </li>
        </div>
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "nav-menu-ext-collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}