@inject ProjectHermes.ShoppingList.Frontend.Infrastructure.Connection.IApiClient apiClient;
@inject ProjectHermes.ShoppingList.Frontend.Infrastructure.Connection.ICommandQueue commandQueue;
@inject ProjectHermes.ShoppingList.Frontend.WebApp.Services.Notification.IShoppingListNotificationService notificationService;
@inject ProjectHermes.ShoppingList.Frontend.Models.Index.Services.ITemporaryItemCreationService temporaryItemCreationService;
@using ProjectHermes.ShoppingList.Frontend.Models.Index.Search;
@using ProjectHermes.ShoppingList.Frontend.Models.Shared.Requests;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Index.Models;
@using ProjectHermes.ShoppingList.Frontend.Models.Shared;

<div class="mb-2 d-flex">
    <Select OnFocus="OnSearchBarFocusIn"
            Class="@(searchBar.Active ? "ml-1 mr-2 w-100 cursor-text" : "mx-1 w-100 cursor-text")"
            DataSource="searchBar.Options"
            TItem="@ItemSearchResult"
            TItemValue="@int"
            ValueName="@nameof(ItemSearchResult.ItemId)"
            LabelName="@nameof(ItemSearchResult.DisplayValue)"
            AutoClearSearchValue="true"
            AllowClear="true"
            OnSearch="OnSearch"
            EnableSearch
            OnSelectedItemChanged="OnSearchItemSelected">
    </Select>

    @if (searchBar.Active)
    {
        <Button Type="@ButtonType.Primary"
                OnClick="@OnCreateNewTemporaryItem"
                Class="d-flex align-items-center">
            <Icon Type="plus"></Icon>
        </Button>
        <Button Class="mr-1" OnClick="@OnSearchBarCancleButtonClicked">Cancle</Button>
    }
</div>

@code {
    [Parameter] public Func<Task> ReloadShoppingListAsync { get; set; }
    [Parameter] public ShoppingListState Page { get; set; }
    [Parameter] public ErrorReceiver ErrorReceiver { get; set; }

    private SearchBar searchBar = new SearchBar();

    private async void OnSearch(string searchInput)
    {
        if (Page.ShoppingList.Store == null)
            return;

        if (string.IsNullOrWhiteSpace(searchInput))
        {
            searchBar.ResetOptions();
            return;
        }

        searchInput = searchInput.Trim();
        searchBar.Input = searchInput;

        try
        {
            var result = await apiClient.GetItemSearchResultsAsync(searchInput, Page.ShoppingList.Store.Id);
            searchBar.Options = result;
            //Console.WriteLine($"{searchInput}: {result.ToList().Count}");
        }
        catch (Exception e)
        {
            var fragment = ErrorReceiver.CreateRetryFragment((items) => OnSearch((string)items[0]), new[] { searchInput });
            notificationService.NotifyError("Search for items failed", e.Message, fragment);

            ErrorReceiver.Log(e.ToString());
            return;
        }
        StateHasChanged();
    }

    private void OnCreateNewTemporaryItem()
    {
        var item = temporaryItemCreationService.Create(searchBar.Input);

        var createRequest = new CreateTemporaryItemRequest(Guid.NewGuid(), item.Id.OfflineId.Value, item.Name, Page.ShoppingList.Store.Id,
            item.PricePerQuantity, Page.ShoppingList.DefaultSectionId);
        var addRequest = new AddItemToShoppingListRequest(Guid.NewGuid(), Page.ShoppingList.Id, item.Id, item.Quantity, null);
        commandQueue.Enqueue(createRequest);
        commandQueue.Enqueue(addRequest);

        Page.AddItemToList(item, Page.ShoppingList.DefaultSectionId);
    }

    private async void OnSearchItemSelected(ItemSearchResult item)
    {
        if (item == null)
            return;

        var request = new AddItemToShoppingListRequest(Guid.NewGuid(), Page.ShoppingList.Id, new ItemId(item.ItemId), 1,
            item.DefaultSectionId); //todo default item quantity

        try
        {
            await apiClient.AddItemToShoppingListAsync(request);
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Adding item failed", e.Message);
            ErrorReceiver.Log(e.ToString());
            return;
        }

        searchBar.ResetInput();
        searchBar.ResetOptions();

        await Page.RequestReloadAsync();
    }

    private void OnSearchBarCancleButtonClicked()
    {
        searchBar.Active = false;
        StateHasChanged();
    }

    private void OnSearchBarFocusIn()
    {
        searchBar.Active = true;
        StateHasChanged();
    }
}