@using ProjectHermes.ShoppingList.Frontend.Models;
@using ProjectHermes.ShoppingList.Frontend.Models.ShoppingLists.Models
@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Index.Models;

<div>
    <div class="py-2 mb-1 pl-1 d-flex align-items-center section @GetBackgroundColor() @GetFontColor()" @onclick="OnSectionClicked">
        @if (Model.IsExpanded)
        {
            <Icon Type="down" Theme="outline" />
        }
        else
        {
            <Icon Type="right" Theme="outline" />
        }
        <div class="pl-1">@Model.Name</div>
    </div>
    @if (Model.IsExpanded)
    {
        <ul class="pl-3">
            @foreach (var item in Model.Items.Where(item => State.ItemsInBasketVisible || !item.IsInBasket))
            {
                <Item State="@State"
                      Model="@item"></Item>
            }
        </ul>
    }
</div>

@code {
    [Parameter] public ShoppingListState State { get; set; }
    [Parameter] public ShoppingListSection Model { get; set; }

    private void OnSectionClicked()
    {
        if (Model.IsExpanded)
            Model.Close();
        else
            Model.Expand();
    }

    private string GetBackgroundColor()
    {
        if (Model.AllItemsInBasket)
            return "green-bg";
        if (Model.SomeItemsInBasket)
            return "warning-bg";

        return "red-bg";
    }

    private string GetFontColor()
    {
        if (Model.AllItemsInBasket || !Model.SomeItemsInBasket)
            return "white";

        return "warning-tx";
    }
}