@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor
@using global::ShoppingList.Frontend.Redux.ShoppingList.Actions.TemporaryItemCreator
@using global::ShoppingList.Frontend.Redux.ShoppingList.States

@inject IState<ShoppingListState> State
@inject IDispatcher Dispatcher

<div class="temporary-item-creator">
    <Button Type="@ButtonType.Primary"
            OnClick="@OnOpenCreationButtonClicked"
            Class="d-flex align-items-center"
            Disabled="@(!State.Value.TemporaryItemCreator.IsButtonEnabled)">
        <Icon Type="plus"></Icon>
    </Button>
    <Modal Title="Add temporary item"
           Visible="@State.Value.TemporaryItemCreator.IsOpen"
           OnCancel="@CloseModal"
           ConfirmLoading="@State.Value.TemporaryItemCreator.IsSaving"
           Footer="@GetFooter()">
        <div>
            <Input TValue="string" Value="State.Value.TemporaryItemCreator.ItemName" ValueChanged="OnNameChanged"></Input>
            <div>
                <div>Section</div>
                <div class="d-flex">
                    <Select TItem="ShoppingListStoreSection"
                            TItemValue="Guid"
                            ValueName="@nameof(ShoppingListStoreSection.Id)"
                            LabelName="@nameof(ShoppingListStoreSection.Name)"
                            DataSource="@State.Value.SelectedStore!.Sections.AsEnumerable()"
                            OnSelectedItemChanged="OnSelectedSectionChanged"
                            AllowClear="false"
                            IgnoreItemChanges="false"
                            Value="@(State.Value.TemporaryItemCreator.Section?.Id ?? Guid.Empty)">
                    </Select>
                    <div class="d-flex pl-2 align-items-center">
                        <div class="price-input">
                            <Input TValue="float" Value="@State.Value.TemporaryItemCreator.Price" ValueChanged="OnPriceChanged"></Input>
                        </div>
                        <div>€</div>
                    </div>
                </div>
            </div>
        </div>
    </Modal>
</div>

@code {
    private void OnNameChanged(string name)
    {
        Dispatcher.Dispatch(new TemporaryItemNameChangedAction(name));
    }

    private void OnPriceChanged(float price)
    {
        Dispatcher.Dispatch(new TemporaryItemPriceChangedAction(price));
    }

    private void OnOpenCreationButtonClicked()
    {
        Dispatcher.Dispatch(new OpenTemporaryItemCreatorAction());
    }

    private void CloseModal()
    {
        Dispatcher.Dispatch(new CloseTemporaryItemCreatorAction());
    }

    private void OnSelectedSectionChanged(ShoppingListStoreSection section)
    {
        Dispatcher.Dispatch(new TemporaryItemSelectedSectionChangedAction(section));
    }

    private void OnAddButtonClicked()
    {
        Dispatcher.Dispatch(new SaveTemporaryItemAction());
    }

    private RenderFragment GetFooter()
    {
        return @<Template>
                   <Button Class="ml-auto"
                           OnClick="OnAddButtonClicked"
                           @key="@("submit")"
                           Type="@ButtonType.Primary"
                           Loading="@State.Value.TemporaryItemCreator.IsSaving">
                       Add
                   </Button>
               </Template>;
    }
}
