@using ProjectHermes.ShoppingList.Frontend.Models.Items;
@using ProjectHermes.ShoppingList.Frontend.Models;
@using System.Collections.Generic;
@using ProjectHermes.ShoppingList.Frontend.Infrastructure.Connection;

<div class="px-2">
    <div class="d-flex">
        <Button Class="d-flex align-items-center" OnClick="@OnBackButtonClickedAsync">
            <Icon Type="arrow-left"></Icon>
        </Button>
        <div class="mx-3">
            <Input @bind-Value="@StoreItem.Name" />
        </div>
        @if (StoreItem.Id != 0)
        {
            <Button Danger="true"
                    Class="ml-auto"
                    OnClick="@OnDeleteButtonClickedAsync">
                Delete
            </Button>
        }
    </div>
    <Divider Class="my-3"></Divider>
    <div class="d-flex pb-2">
        <div>
            <div class="font-weight-bold">Category</div>
            <SingleSelect Placeholder="Item Category"
                          DefaultValue="@StoreItem.ItemCategoryId.ToString()"
                          CanAddItem="true"
                          IdToNameMaps="@ItemCategories.Select(m => new Tuple<int, string>(m.Id, m.Name)).ToList()"
                          OnChangeCallback="@OnItemCategoryChanged"
                          OnItemAddedCallback="@ItemCategoryCreatedCallback">
            </SingleSelect>
        </div>
        <div class="ml-3">
            <div class="font-weight-bold">Manufacturer</div>
            <SingleSelect Placeholder="Manufacturer"
                          DefaultValue="@StoreItem.ManufacturerId.ToString()"
                          CanAddItem="true"
                          IdToNameMaps="@Manufacturers.Select(m => new Tuple<int, string>(m.Id, m.Name)).ToList()"
                          OnChangeCallback="@OnManfacturerChanged"
                          OnItemAddedCallback="@ManufacturerCreatedCallback">
            </SingleSelect>
        </div>
    </div>
    <div class="d-flex py-2">
        <SingleSelect Placeholder="QuantityType"
                      DefaultValue="@StoreItem.QuantityType.Id.ToString()"
                      CanAddItem="false"
                      IdToNameMaps="@QuantityTypes.Select(m => new Tuple<int, string>(m.Id, m.Name)).ToList()"
                      OnChangeCallback="@OnQuantityTypeChanged">
        </SingleSelect>
        @if (StoreItem.QuantityType.Id == 0)
        {
            <div class="ml-3 d-flex flex-column">
                <SingleSelect Placeholder="QuantityInPacketType"
                              DefaultValue="@StoreItem.QuantityInPacketType.Id.ToString()"
                              CanAddItem="false"
                              IdToNameMaps="@QuantityInPacketTypes.Select(m => new Tuple<int, string>(m.Id, m.Name)).ToList()"
                              OnChangeCallback="@OnQuantityInPacketTypeChanged">
                </SingleSelect>
                <div class="d-flex">
                    <div class="max-w-50">
                        <Input @bind-Value="@StoreItem.QuantityInPacket"></Input>
                    </div>
                    <div class="mt-1">@StoreItem.QuantityInPacketType.QuantityLabel</div>
                </div>
            </div>
        }
    </div>
    <div class="font-weight-bold">Stores</div>
    <div class="d-flex flex-row py-2">
        <!-- availabilities -->
        <div>
            @for (int i = 0; i < StoreItem.Availabilities.Count; i++)
            {
                <Availablity ComponentIndex="i"
                             Availability="@StoreItem.Availabilities[i]"
                             PriceLabel="@StoreItem.QuantityType.PriceLabel"
                             Stores="@Stores"
                             DisabledStoreIds="@GetDisabledStoresForAvailabilityByIndex(i)"
                             OnRemoveAvailabilityCallback="@OnRemoveAvailabilityButtonClicked"></Availablity>
            }
        </div>
        <div class="ml-4 d-flex justify-content-end">
            <Button class="d-flex align-items-center" OnClick="OnAddStoreButtonClicked"
                    Disabled="@(!GetNotRegisteredStoreIds(StoreItem).Any())">
                <Icon Type="plus"></Icon>
            </Button>
        </div>
    </div>
    <div class="pb-2 pt-4">
        <TextArea Placeholder="Comment" MinRows="2" @bind-Value="@StoreItem.Comment"></TextArea>
    </div>
    <div class="d-flex justify-content-end">
        @if (StoreItem.Id == 0)
        {
            <Button OnClick="@OnCreateButtonClicked">Create</Button>
        }
        else
        {
            <Button OnClick="@OnUpdateButtonClickedAsync">Update</Button>
            <Button Class="ml-2" OnClick="@OnChangeButtonClickedAsync">Change</Button>
        }
    </div>
</div>

@code {
    [Parameter] public StoreItem StoreItem { get; set; }
    [Parameter] public List<Store> Stores { get; set; }
    [Parameter] public List<Manufacturer> Manufacturers { get; set; }
    [Parameter] public List<ItemCategory> ItemCategories { get; set; }
    [Parameter] public List<QuantityType> QuantityTypes { get; set; }
    [Parameter] public List<QuantityInPacketType> QuantityInPacketTypes { get; set; }

    [Parameter] public IApiClient ApiClient { get; set; }

    [Parameter] public EventCallback<StoreItem> UpdateItemCallback { get; set; }
    [Parameter] public EventCallback<StoreItem> ChangeItemCallback { get; set; }
    [Parameter] public EventCallback<StoreItem> CreateItemCallback { get; set; }
    [Parameter] public EventCallback<int> DeleteItemCallback { get; set; }
    [Parameter] public EventCallback LeaveEditorCallback { get; set; }
    [Parameter] public EventCallback<string> ManufacturerCreatedCallback { get; set; }
    [Parameter] public EventCallback<string> ItemCategoryCreatedCallback { get; set; }

    private string newManufacturerName = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private int GetIndex(StoreItemAvailability av)
    {
        return StoreItem.Availabilities.IndexOf(av);
    }

    private void OnAddStoreButtonClicked()
    {
        var notRegisteredStoreIds = GetNotRegisteredStoreIds(StoreItem);
        if (!notRegisteredStoreIds.Any())
            return;

        StoreItem.Availabilities.Add(
            new StoreItemAvailability(notRegisteredStoreIds.First(), 1));
    }

    private void OnRemoveAvailabilityButtonClicked(int availabilityIndex)
    {
        StoreItem.Availabilities.RemoveAt(availabilityIndex);
        StateHasChanged();
    }

    private async Task OnUpdateButtonClickedAsync()
    {
        await UpdateItemCallback.InvokeAsync(StoreItem);
    }

    private async Task OnChangeButtonClickedAsync()
    {
        await ChangeItemCallback.InvokeAsync(StoreItem);
    }

    private async Task OnCreateButtonClicked()
    {
        await CreateItemCallback.InvokeAsync(StoreItem);
    }

    private async Task OnDeleteButtonClickedAsync()
    {
        await DeleteItemCallback.InvokeAsync(StoreItem.Id);
    }

    private async Task OnBackButtonClickedAsync()
    {
        await LeaveEditorCallback.InvokeAsync(null);
    }

    private void OnManfacturerChanged(int id)
    {
        StoreItem.ManufacturerId = id;
    }

    private void OnItemCategoryChanged(int id)
    {
        StoreItem.ItemCategoryId = id;
    }

    private void OnQuantityTypeChanged(int id)
    {
        StoreItem.QuantityType = GetQuantityTypeById(id);
    }

    private void OnQuantityInPacketTypeChanged(int id)
    {
        StoreItem.QuantityInPacketType = GetQuantityInPacketTypeById(id);
    }

    private IEnumerable<int> GetNotRegisteredStoreIds(StoreItem storeItem)
    {
        var registeredStoreId = storeItem.Availabilities.Select(av => av.StoreId);
        var allStoreIds = Stores.Select(s => s.Id);

        return allStoreIds.Except(registeredStoreId);
    }

    private IEnumerable<int> GetRegisteredStoreIds(StoreItem storeItem)
    {
        return storeItem.Availabilities.Select(av => av.StoreId);
    }

    private IEnumerable<int> GetDisabledStoresForAvailabilityByIndex(int availabilityIndex)
    {
        return GetRegisteredStoreIds(StoreItem)
            .Except(new List<int>() { StoreItem.Availabilities[availabilityIndex].StoreId });
    }

    private QuantityType GetQuantityTypeById(int id)
    {
        return QuantityTypes.FirstOrDefault(type => type.Id == id);
    }

    private QuantityInPacketType GetQuantityInPacketTypeById(int id)
    {
        return QuantityInPacketTypes.FirstOrDefault(type => type.Id == id);
    }
}