@using System.Timers;

@typeparam TValue
@typeparam TItem

<Select OnFocus="OnFocus"
        Class="@Class"
        Placeholder="@Placeholder"
        ValueName="@ValueName"
        LabelName="@LabelName"
        DataSource="@DataSource"
        TItemValue="TValue"
        TItem="TItem"
        OnSelectedItemChanged="OnSelectedItemChanged"
        AllowClear="@AllowClear"
        DropdownRender="@OnRender"
        IgnoreItemChanges="false"
        OnDropdownVisibleChange="OnDropdownToggle"
        OnClearSelected="() => OnClear?.Invoke()"
        AutoClearSearchValue="false"
        Value="@Value">
</Select>

@code {
    [Parameter] public EventCallback OnFocus { get; set; }

    [Parameter] public string Class { get; set; }
    [Parameter] public string Placeholder { get; set; }

    [Parameter] public IEnumerable<TItem> DataSource { get; set; }
    [Parameter] public string ValueName { get; set; }
    [Parameter] public string LabelName { get; set; }

    [Parameter] public bool CanAddItem { get; set; } = false;
    [Parameter] public bool AllowClear { get; set; } = false;

    [Parameter] public Action<TItem> OnItemChanged { get; set; }
    [Parameter] public Action OnItemAdded { get; set; }
    [Parameter] public Action<string> OnInputChanged { get; set; }
    [Parameter] public Action OnDropdownClosed { get; set; }
    [Parameter] public Action OnClear { get; set; }

    [Parameter] public TValue Value { get; set; }
    [Parameter] public string SearchInput { get; set; }
    
    private Input<string> _searchInput;
    
    private void OnSelectedItemChanged(TItem item)
    {
        OnItemChanged?.Invoke(item);
    }

    private void OnAddNewItem()
    {
        OnItemAdded?.Invoke();
    }

    private void OnSearchInput(ChangeEventArgs args)
    {
        OnInputChanged?.Invoke(args.Value as string ?? string.Empty);
    }

    private void OnDropdownToggle(bool visible)
    {
        if (!visible)
        {
            OnDropdownClosed?.Invoke();
            return;
        }

        var focusInputTimer = new Timer(200d);
        focusInputTimer.AutoReset = false;
        focusInputTimer.Elapsed += (_, _) => _searchInput.Focus(FocusBehavior.FocusAndClear);
        focusInputTimer.Start();
    }

    private RenderFragment OnRender(RenderFragment originNode)
    {
        return
    @<Template>
        <div>
            @originNode
            <hr class="my-1" />
            <div class="d-flex p-2">
                <div>
                    <Input @ref="_searchInput" Value="SearchInput" OnInput="OnSearchInput" />
                </div>

                @if (CanAddItem)
                {
                    <a class="d-flex align-items-center min-w-50 px-2 py-1" @onclick="OnAddNewItem">
                        <i class="bi bi-plus-lg"></i>
                    </a>
                }
            </div>
        </div>
    </Template>;
    }
}