@page "/recipes"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using AntDesign.Select.Internal
@using Fluxor
@using ProjectHermes.Xipona.Frontend.Redux.Recipes.Actions
@using ProjectHermes.Xipona.Frontend.Redux.Recipes.States
@using ProjectHermes.Xipona.Frontend.Redux.Shared.States

@inject IState<SharedState> SharedState
@inject IDispatcher Dispatcher
@inject IState<RecipeState> State

@namespace ProjectHermes.Xipona.Frontend.WebApp.Pages.Recipes

<div class="recipes">
    <div class="d-flex top-bar mt-2">
        <Tabs Class="recipe-search-tabs mr-2">
            <TabPane Tab="By Name" Key="1">
                <div class="d-flex">
                    <Input TValue="string"
                           OnInput="OnInputChanged"
                           Value="@State.Value.Search.Input"
                           OnPressEnter="@OnLoadByNameButtonClicked"
                           Placeholder="Recipe name"
                           @ref="_searchInput"></Input>
                    <Button @onclick="@OnLoadByNameButtonClicked" Class="ml-1">
                        <i class="bi bi-search"></i>
                    </Button>
                </div>
            </TabPane>
            <TabPane Tab="By Tags" Key="2">
                <div class="d-flex">
                    <Select Mode="@SelectMode.Multiple"
                            Placeholder="Recipe tags"
                            ValueName="@nameof(RecipeTag.Id)"
                            LabelName="@nameof(RecipeTag.Name)"
                            DataSource="@State.Value.RecipeTags"
                            TItem="RecipeTag"
                            TItemValue="Guid"
                            AutoClearSearchValue="false"
                            OnSelectedItemsChanged="OnSelectedRecipeTagsChanged"
                            Values="@State.Value.Search.SelectedRecipeTagIds">
                    </Select>
                    <Button @onclick="@OnLoadByTagsButtonClicked" Class="ml-1">
                        <i class="bi bi-search"></i>
                    </Button>
                </div>
            </TabPane>
        </Tabs>
        <Tooltip Placement="Placement.BottomRight" Title="@("Create new recipe")" Disabled="SharedState.Value.IsMobile">
            <Button @onclick="@OnCreateRecipeButtonClicked" Class="d-flex align-items-center ml-auto"
                    Type="@ButtonType.Primary">
                <i class="bi bi-plus-lg"></i>
            </Button>
        </Tooltip>
    </div>
    <div class="mt-2">
        @if(@State.Value.Search.TriggeredAtLeastOnce && State.Value.Search.SearchResults.Count == 0)
        {
            <div class="no-recipes-found-notice">
                No recipes found
            </div>
        }
        @foreach (var searchResult in State.Value.Search.SearchResults)
        {
            <SearchResult Model="searchResult" TAction="EditRecipeAction"
                          IsLastItem="State.Value.Search.SearchResults.Last() == searchResult">
            </SearchResult>
        }
    </div>
</div>

@code {
    private Input<string> _searchInput;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new EnterRecipeSearchPageAction());
        Dispatcher.Dispatch(new LoadRecipeTagsAction());
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
            _searchInput.Focus();
    }

    private void OnInputChanged(ChangeEventArgs args)
    {
        var input = args.Value?.ToString() ?? string.Empty;
        Dispatcher.Dispatch(new RecipeSearchInputChangedAction(input));
    }

    private void OnLoadByNameButtonClicked()
    {
        Dispatcher.Dispatch(new SearchRecipeByNameAction());
    }

    private void OnLoadByTagsButtonClicked()
    {
        Dispatcher.Dispatch(new SearchRecipeByTagsAction());
    }

    private void OnCreateRecipeButtonClicked()
    {
        Dispatcher.Dispatch(new EditRecipeAction
        {
            Id = Guid.Empty
        });
    }

    private void OnSelectedRecipeTagsChanged(IEnumerable<RecipeTag> selectedRecipeTags)
    {
        var tagIds = selectedRecipeTags.Select(r => r.Id).ToList();
        Dispatcher.Dispatch(new SelectedSearchRecipeTagIdsChangedAction(tagIds));
    }
}