@using ShoppingList.Frontend.Models.Items;
@using ShoppingList.Frontend.Models;
@using System.Collections.Generic;

<div>
    <div class="d-flex">
        <Button>
            <Icon Type="arrow-left"></Icon>
        </Button>
        <Input @bind-Value="@StoreItem.Name" />
    </div>
    <Divider></Divider>
    <div class="d-flex">
        <Select Placeholder="Category" DefaultValue="@StoreItem.ItemCategoryId.ToString()">
            @foreach (var itemCategory in ItemCategories)
            {
                <SelectOption Value="@itemCategory.Id.ToString()">@itemCategory.Name</SelectOption>
            }
        </Select>
        <Select Placeholder="Manufacturer" Class="ml-3" DefaultValue="@StoreItem.ManufacturerId.ToString()">
            @foreach (var manufacturer in Manufacturers)
            {
                <SelectOption Value="@manufacturer.Id.ToString()">@manufacturer.Name</SelectOption>
            }
        </Select>
    </div>
    <div class="d-flex">
        <Select Placeholder="QuantityType" DefaultValue="@StoreItem.QuantityType.ToString()">
            @foreach (var type in QuantityTypes)
            {
                <SelectOption Value="@type.Id.ToString()">@type.Name</SelectOption>
            }
        </Select>
        <div class="ml-3">
            <Select Placeholder="QuantityTypeInPacket" DefaultValue="@StoreItem.QuantityInPacketType.ToString()">
                @foreach (var type in QuantityInPacketTypes)
                {
                    <SelectOption Value="@type.Id.ToString()">@type.Name</SelectOption>
                }
            </Select>
            <Input @bind-Value="@StoreItem.QuantityInPacket"></Input>
        </div>
    </div>
    <div class="d-flex flex-row">
        <!-- availabilities -->
        <div>
            @foreach (var availability in StoreItem.Availabilities)
            {
                <div class="d-flex flex-row align-items-center">
                    <Input @bind-Value="@availability.PricePerQuantity" Class="ml-2 max-w-50" />
                    <div class="mr-4">€</div>
                    <Select Placeholder="Stores" DefaultValue="@availability.StoreId.ToString()">
                        @foreach (var store in Stores)
                        {
                            <SelectOption Value=@store.Id.ToString() Class="min-w-100">@store.Name</SelectOption>
                        }
                    </Select>
                </div>
            }
        </div>
        <div class="ml-2">
            <Button class="d-flex align-items-center">
                <Icon Type="plus"></Icon>
            </Button>
        </div>
    </div>
    <div>
        <Button OnClick="OnUpdateButtonClickedAsync">Update</Button>
        <Button OnClick="OnChangeButtonClickedAsync">Change</Button>
        <Button OnClick="OnCancleButtonClickedAsync" Danger="true">Cancle</Button>
    </div>
</div>

@code {
    [Parameter] public StoreItem StoreItem { get; set; }
    [Parameter] public List<Store> Stores { get; set; }
    [Parameter] public List<Manufacturer> Manufacturers { get; set; }
    [Parameter] public List<ItemCategory> ItemCategories { get; set; }
    [Parameter] public List<QuantityType> QuantityTypes { get; set; }
    [Parameter] public List<QuantityInPacketType> QuantityInPacketTypes { get; set; }

    [Parameter] public EventCallback<StoreItem> UpdateItemCallback { get; set; }
    [Parameter] public EventCallback<StoreItem> ChangeItemCallback { get; set; }
    [Parameter] public EventCallback<int> DeleteItemCallback { get; set; }

    private void OnAddStoreButtonClicked()
    {

    }

    private async Task OnUpdateButtonClickedAsync()
    {
        await UpdateItemCallback.InvokeAsync(StoreItem);
    }

    private async Task OnChangeButtonClickedAsync()
    {
        await ChangeItemCallback.InvokeAsync(StoreItem);
    }

    private async Task OnCancleButtonClickedAsync()
    {
        await DeleteItemCallback.InvokeAsync(StoreItem.Id);
    }
}