@page "/"
@inject DbContextOptions<ShoppingContext> dbContextOptions

<div class="main-page">
    <div>
        <div class="row">
            <h1 class="h3 col-7 col-sm-5 col-md-5 col-lg-4 col-xl-3 mb-0 pr-0">Shopping List</h1>

            <div class="col-5 col-sm-7 col-md-7 col-lg-8 col-xl-9 pr-0">
                <BSDropdown Class="float-right">
                    <BSDropdownToggle Color="Color.Primary">@activeStore?.Name</BSDropdownToggle>
                    <BSDropdownMenu>
                        @foreach (Database.Entities.Store store in stores)
                        {
                            <BSDropdownItem>
                                <CustomDropdownItem T="Database.Entities.Store"
                                                    Item="@store"
                                                    DropdownText="@store.Name"
                                                    OnClickCallback="OnChangeStore">

                                </CustomDropdownItem>
                            </BSDropdownItem>
                        }
                    </BSDropdownMenu>
                </BSDropdown>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-xl-5 col-sm-12 mb-2">
                <div class="row">
                    <BSBasicInput Class="col-10 col-md-11"
                                  T="string"
                                  @bind-Value="newShoppingItemName"
                                  @onfocusout="OnInputFocusLost"
                                  @oninput="OnSearchInput"></BSBasicInput>
                    <BSButton Color="Color.Success" Class="col-2 col-md-1" @onclick="OnAddNewItemClicked">
                        <span class="oi oi-plus"></span>
                    </BSButton>
                </div>
                <div>
                    @foreach (var item in itemSuggestions)
                    {
                        <ItemSearchSuggestion Item="@item" ItemSelectedCallback="OnSearchItemSelected"></ItemSearchSuggestion>
                    }
                </div>
            </div>
            <div class="col-xl-7 col-sm-12 p-0">
                <ul id="shoppingList" class="p-0">
                    @foreach (var shoppingItem in activeShoppingItems)
                    {
                        <ShoppingListItem @key="@shoppingItem"
                                          ItemDto="@shoppingItem"
                                          ItemChangedCallback="UpdateItem"
                                          RemoveItemCallback="OnRemoveItemFromShoppingList"></ShoppingListItem>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="@(hideItemEditor ? "hidden" : "") item-editor-container">
        <ItemEditor ItemDto="@newItem"
                    EditMode="@EntityModels.ItemEditMode.Create"
                    AvailableStores="@stores"
                    CanChangeStore="false"
                    OnSaveCallback="OnSaveNewItem"
                    OnCancleCallback="OnCancleNewItem"></ItemEditor>
    </div>

    <div>
        <BSButton @onclick="OnShoppingFinished">Finish shopping</BSButton>
    </div>
</div>



@code {
    private List<EntityModels.ItemDto> itemSuggestions = new List<EntityModels.ItemDto>();

    private List<Database.Entities.Store> stores = new List<Database.Entities.Store>();
    private Database.Entities.Store activeStore;
    private Database.Entities.ShoppingList activeShoppingList;
    private List<EntityModels.ItemDto> activeShoppingItems = new List<EntityModels.ItemDto>();

    private string newShoppingItemName = "";
    private IShoppingRepository shoppingRepository;

    private System.Timers.Timer hideSuggestionsTimer = new System.Timers.Timer(100);

    private bool hideItemEditor = true;
    private EntityModels.ItemDto newItem = new EntityModels.ItemDto();

    protected async override void OnInitialized()
    {
        if (activeStore == null)
        {
            shoppingRepository = new ShoppingRepository(dbContextOptions);

            hideSuggestionsTimer.AutoReset = false;
            hideSuggestionsTimer.Elapsed += OnHideSuggestionsTimerElapsed;

            stores = await shoppingRepository.GetAllStoresAsync();
            activeStore = stores.Count > 0 ? stores.First() : null;

            if (activeStore == null)
            {
                //TODO: send notification to user
            }
            else
            {
                LoadShoppingListForActiveStore();
            }
        }
    }

    private void LoadShoppingListForActiveStore()
    {
        activeShoppingList = shoppingRepository.GetActiveShoppingListByStoreId(activeStore.StoreId);
        if (activeShoppingList == null)
        {
            activeShoppingList = shoppingRepository.CreateNewShoppingList(activeStore.StoreId);
        }
        else
        {
            activeShoppingItems = shoppingRepository.GetAllItemsOnShoppingList(activeShoppingList.ShoppingListId);
        }
        StateHasChanged();
    }

    private void UpdateItem(EntityModels.ItemDto itemDto)
    {
        shoppingRepository.UpdateItemRelation(itemDto, activeShoppingList.ShoppingListId);
    }

    #region callbacks
    private void OnRemoveItemFromShoppingList(EntityModels.ItemDto itemDto)
    {
        try
        {
            shoppingRepository.RemoveItemFromShoppingList(itemDto, activeShoppingList.ShoppingListId);
            activeShoppingItems.Remove(itemDto);
        }
        catch(Exception e)
        {
            //TODO notify user
        }
    }

    private void OnInputFocusLost()
    {
        hideSuggestionsTimer.Start();
    }

    private void OnHideSuggestionsTimerElapsed(Object source, System.Timers.ElapsedEventArgs args)
    {
        itemSuggestions.Clear();
        InvokeAsync(() => StateHasChanged());
    }

    private void OnChangeStore(Database.Entities.Store store)
    {
        activeStore = store;
        LoadShoppingListForActiveStore();
    }

    private void OnSearchItemSelected(EntityModels.ItemDto itemDto)
    {
        try
        {
            shoppingRepository.AddNewItemToShoppingList(itemDto, activeShoppingList.ShoppingListId);
        }
        catch (Exception e)
        {
            //TODO tell user that item already exists
        }
        activeShoppingItems.Add(itemDto);
        newShoppingItemName = String.Empty;
        itemSuggestions.Clear();
    }

    private void OnSearchInput(ChangeEventArgs args)
    {
        string search = ((string)args.Value).Trim();
        if (search != String.Empty)
        {
            //TODO refactor this
            var activeItemIds = activeShoppingItems.Select(item => item.Id);
            itemSuggestions = shoppingRepository
                .SearchItems(search)
                .Where(item => !activeItemIds.Contains(item.Id))
                .ToList();
        }
        else if (itemSuggestions.Count > 0)
        {
            itemSuggestions.Clear();
        }
    }

    private void OnShoppingFinished()
    {
        var notBoughtItems = activeShoppingItems.Where(item => !item.IsInShoppingBasket);
        shoppingRepository.AddItemsToNewShoppingList(notBoughtItems, activeStore.StoreId);
        shoppingRepository.RemoveItemsFromShoppingList(notBoughtItems, activeShoppingList.ShoppingListId);
        shoppingRepository.CompleteShoppingList(activeShoppingList);
        LoadShoppingListForActiveStore();
    }



    #region item editor
    private void OnAddNewItemClicked()
    {
        newItem = new EntityModels.ItemDto
        {
            Name = newShoppingItemName,
            PricePerQuantity = 1,
            StoreId = activeStore.StoreId,
            QuantityType = EntityModels.QuantityType.Unit
        };
        hideItemEditor = false;
        StateHasChanged();
    }

    private void OnSaveNewItem(EntityModels.ItemDto itemDto, EntityModels.ItemEditMode editMode)
    {
        shoppingRepository.CreateNewItem(itemDto);
        hideItemEditor = true;
        StateHasChanged();
    }

    private void OnCancleNewItem(int i)
    {
        hideItemEditor = true;
        StateHasChanged();
    }
    #endregion
    #endregion
}