@page "/items"
@inject IShoppingRepositoryFactory shoppingRepositoryFactory
@using EntityModels;

<div class="items-page">
    <h1 class="heading h1 mb-4">
        Items
    </h1>

    <div class="row">
        <div class="left-part col-12 col-md-4 col-xl-4">
            <div class="new-store w-100 mb-2">
                <BSButton Color="Color.Success" Class="w-100" @onclick="OnNewItemButtonClicked">
                    <span class="oi oi-plus"></span>
                </BSButton>
            </div>
            <div class="store-selection">
                <ol class="p-0">
                    @foreach (EntityModels.ItemDto item in items)
                    {
                        <ItemListItem ItemDto="@item"
                                      StoreName="test"
                                      IsSelected="@(selectedItem != null && item.Id == selectedItem.Id)"
                                      OnItemListItemClicked="OnSelectedItemChanged"></ItemListItem>
                    }
                </ol>
            </div>
        </div>
        @if(selectedItem != null)
        {
            <div class="right-part col-12 col-md-8 col-xl-8">
                <div class="">
                    <div class="d-flex align-items-center">
                        <div class="h2 border-right mb-0 pr-2">@selectedItem.Name</div>
                        <div class="h4 mb-0 pl-2">@(repository.GetStoreById(selectedItem.StoreId)?.Name ?? "")</div>
                        <BSButton Class="ml-auto" Color="Color.Info" Size="Size.Small">
                            <span class="oi oi-pencil"></span>
                        </BSButton>
                    </div>
                    <hr class="mt-1 mb-2" />
                    <div class="d-flex justify-content-start">
                        <div>@selectedItem.PricePerQuantity€@(selectedItem.QuantityType == QuantityType.Weight ? "/kg" : "")</div>
                    </div>
                    <div class="pt-4">
                        <BSFormGroup>
                            <BSLabel>Comment</BSLabel>
                            <BSBasicInput InputType="InputType.TextArea"
                                          T="string"
                                          Rows="2"
                                          IsDisabled="true"
                                          @bind-Value="selectedItem.Comment"></BSBasicInput>
                        </BSFormGroup>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private List<EntityModels.ItemDto> items;

    private ItemDto selectedItem;

    private IShoppingRepository repository;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (repository == null)
        {
            repository = shoppingRepositoryFactory.Create();
            items = repository.GetAllItems();
        }
    }

    private void OnNewItemButtonClicked()
    {

    }

    private void OnSelectedItemChanged(ItemDto itemDto)
    {
        selectedItem = itemDto;
    }
}
