@page "/"
@inject ProjectHermes.ShoppingList.Frontend.Infrastructure.Connection.IApiClient apiClient;
@inject ProjectHermes.ShoppingList.Frontend.Infrastructure.Connection.ICommandQueue commandQueue;
@inject ProjectHermes.ShoppingList.Frontend.WebApp.Service.IShoppingListNotificationService notificationService;
@inject ProjectHermes.ShoppingList.Frontend.WebApp.Service.IItemPriceCalculationService itemPriceCalculationService;
@inject IWebAssemblyHostEnvironment Env;
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Components.Index;
@using ProjectHermes.ShoppingList.Frontend.Models;
@using ProjectHermes.ShoppingList.Frontend.Models.Index;
@using ProjectHermes.ShoppingList.Frontend.Models.Index.Search;
@using ProjectHermes.ShoppingList.Frontend.Models.Shared.Requests;
@using ProjectHermes.ShoppingList.Frontend.Models.Shared;

<div>
    @if (hasProcessingError)
    {
        <div class="d-flex p-2 mb-2 warning-bg">
            <div>
                An error occured while processing your requests. Any changes were discarded. Please reload the page.
            </div>
            <div class="ml-auto">
                <Button Class="d-flex align-items-center justify-content-center"
                        OnClick="@ReloadAfterProcessingErrorAsync"
                        Icon="reload"
                        Size="@ButtonSize.Small"></Button>
            </div>
        </div>
    }
    <div class="mb-1 d-flex justify-content-end align-items-center">
        <div class="pr-2">
            <Switch Checked="@isDebug" CheckedChildren="Dbg" UnCheckedChildren="Dbg" OnChange="@OnDebugStateChanged" />
        </div>
        <Select Class="min-w-100 max-w-200 mr-3"
                DataSource="availableStores.Stores"
                @bind-Value="availableStores.SelectedStoreId"
                ValueName="@nameof(Store.Id)"
                LabelName="@nameof(Store.Name)"
                OnSelectedItemChanged="OnSelectedStoreChanged">
        </Select>
        <Button Class="mr-1 d-flex align-items-center"
                OnClick="@OnShowBasketItemsChangeButtonClicked"
                Disabled="@(!shoppingList?.AnyItemInBasket ?? true)">
            @if (showItemsInBasket)
            {
                <Icon Type="eye" />
            }
            else
            {
                <Icon Type="eye-invisible" />
            }
        </Button>
        <Button class="mr-1 d-flex align-items-center" OnClick="@OnEditModeButtonClicked"
                Disabled="@(shoppingList.Store == null)">
            <Icon Type="edit" />
        </Button>
    </div>
    <!--search bar-->
    <div class="mb-2 d-flex">
        <Select OnFocus="OnSearchBarFocusIn"
                Class="@(searchBar.Active ? "ml-1 mr-2 w-100 cursor-text" : "mx-1 w-100 cursor-text")"
                DataSource="searchBar.Options"
                TItem="@ItemSearchResult"
                TItemValue="@int"
                ValueName="@nameof(ItemSearchResult.ItemId)"
                LabelName="@nameof(ItemSearchResult.DisplayValue)"
                AutoClearSearchValue="true"
                AllowClear="true"
                OnSearch="OnSearch"
                EnableSearch
                OnSelectedItemChanged="OnSearchItemSelected">
        </Select>

        @if (searchBar.Active)
        {
            <Button Type="@ButtonType.Primary"
                    OnClick="@OnCreateNewTemporaryItem"
                    Class="d-flex align-items-center">
                <Icon Type="plus"></Icon>
            </Button>
            <Button Class="mr-1" OnClick="@OnSearchBarCancleButtonClicked">Cancle</Button>
        }
    </div>
    <div>
        @foreach (var section in shoppingList.Sections.Where(s => s.Items.Any()))
        {
            <Section Model="@section"
                     ShowItemsInBasket="@showItemsInBasket"
                     ItemBasketStatusChangedCallback="@OnItemBasketStatusChangedAsync"
                     ItemQuantityChangedCallback="@OnItemQuantityChangedAsync"
                     ItemRemovedCallback="@OnItemRemovedFromListAsync"
                     IsInEditMode="@isInEditMode"
                     ItemPriceCalculationService="@itemPriceCalculationService"></Section>
        }
    </div>
    <div class="d-flex justify-content-end">
        <Button Type="primary"
                OnClick="@OnFinishListButtonClicked"
                Class="mr-2"
                Disabled="@(!shoppingList?.AnyItemInBasket ?? true)">
            Finish List
        </Button>
    </div>
    <div>
        @foreach (var s in errorMsg)
        {
            <div>@s</div>
        }
    </div>
</div>

@code{
    private bool hasProcessingError = false;
    private bool isDebug = false;

    private ShoppingListRoot shoppingList = new ShoppingListRoot(0, null, null, Enumerable.Empty<ShoppingListSection>());
    private AvailableStores availableStores = new AvailableStores(Enumerable.Empty<Store>(), 0);

    private SearchBar searchBar = new SearchBar();

    private bool isInEditMode = false;
    private bool showItemsInBasket = true;

    private List<string> errorMsg = new List<string>();

    List<ShoppingListItem> items = new List<ShoppingListItem>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        isDebug = Env.IsDevelopment();

        await itemPriceCalculationService.InitializeAsync();
        commandQueue.Initialize(OnConnectionFailed, OnQueueProcessed, OnApiProcessingError, AddToError);

        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        try
        {
            await LoadPage();
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Page loading failed", e.Message,
                GetAsyncButtonRenderFragment(
                    async (items) => await LoadPage(),
                    new object[0]));
            AddToError(e.ToString());
            return;
        }
    }

    private void AddToError(string e)
    {
        if (!isDebug)
            return;

        errorMsg.Add(e);
        Console.WriteLine(e);
        StateHasChanged();
    }

    private void ResetEditMode()
    {
        isInEditMode = false;
    }

    #region Loading

    private async Task LoadPage()
    {
        await LoadAvailableStoresAsync();
    }

    private async Task LoadAvailableStoresAsync()
    {
        List<Store> stores = (await apiClient.GetAllActiveStoresAsync())
            .ToList();

        availableStores = new AvailableStores(stores, stores.FirstOrDefault()?.Id ?? 0);
        Console.WriteLine($"{availableStores.Stores.Count} stores loaded");
    }

    private async Task LoadShoppingListAsync()
    {
        try
        {
            shoppingList = await apiClient.GetActiveShoppingListByStoreIdAsync(availableStores.SelectedStoreId);
            Console.WriteLine($"Loaded shopping list with {shoppingList.Items.Count} items");
        }
        catch (Exception e)
        {
            throw;
        }

        StateHasChanged();
    }
    #endregion

    #region Callbacks
    private void OnDebugStateChanged(bool active)
    {
        isDebug = active;
    }

    private void OnCreateNewTemporaryItem()
    {
        // ugly
        var quantityType = new QuantityType(0, "", 1, "€", "x", 1);
        var quantityTypeInPacket = new QuantityTypeInPacket(0, "", "");
        var item = new ShoppingListItem(new ItemId(Guid.NewGuid()), searchBar.Input, true, 1f, quantityType, 1,
        quantityTypeInPacket, "", "", false, 1);

        var createRequest = new CreateTemporaryItemRequest(Guid.NewGuid(), item.Id.OfflineId.Value, item.Name, shoppingList.Store.Id, item.PricePerQuantity);
        var addRequest = new AddItemToShoppingListRequest(Guid.NewGuid(), shoppingList.Id, item.Id, item.Quantity, null);
        commandQueue.Enqueue(createRequest);
        commandQueue.Enqueue(addRequest);

        shoppingList.AddItem(item, shoppingList.DefaultSectionId);
        StateHasChanged();
    }

    private Task OnConnectionFailed()
    {
        AddToError("Connection failed");
        notificationService.NotifyWarning("Connection interrupted", "Connection to the server was interrupted.");
        return Task.CompletedTask;
    }

    private async Task OnQueueProcessed()
    {
        AddToError("Queue processed");
        notificationService.NotifySuccess("Sync successful", "Synchronization with the server was successful.");
        await LoadShoppingListAsync();
    }

    private void OnApiProcessingError()
    {
        hasProcessingError = true;
    }

    private async void OnSelectedStoreChanged(Store store)
    {
        if (store == null)
            return;

        ResetEditMode();
        await LoadShoppingListAsync();
    }

    private void OnEditModeButtonClicked()
    {
        isInEditMode = !isInEditMode;
        StateHasChanged();
    }

    private void OnShowBasketItemsChangeButtonClicked()
    {
        showItemsInBasket = !showItemsInBasket;
        StateHasChanged();
    }

    private void OnSearchBarFocusIn()
    {
        searchBar.Active = true;
        StateHasChanged();
    }

    private void OnSearchBarCancleButtonClicked()
    {
        searchBar.Active = false;
        StateHasChanged();
    }

    private async void OnSearch(string searchInput)
    {
        if (shoppingList.Store == null)
            return;

        if (string.IsNullOrWhiteSpace(searchInput))
        {
            searchBar.Options = Enumerable.Empty<ItemSearchResult>();
            return;
        }

        searchInput = searchInput.Trim();
        searchBar.Input = searchInput;

        try
        {
            var result = await apiClient.GetItemSearchResultsAsync(searchInput, shoppingList.Store.Id);
            searchBar.Options = result;
            //Console.WriteLine($"{searchInput}: {result.ToList().Count}");
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Search for items failed", e.Message,
                GetButtonRenderFragment(
                    (items) => OnSearch((string)items[0]),
                    new object[] { searchInput }));
            AddToError(e.ToString());
            return;
        }
        StateHasChanged();
    }

    private async void OnSearchItemSelected(ItemSearchResult item)
    {
        if (item == null)
            return;

        var request = new AddItemToShoppingListRequest(Guid.NewGuid(), shoppingList.Id, new ItemId(item.ItemId), 1,
            item.DefaultSectionId); //todo default item quantity

        try
        {
            await apiClient.AddItemToShoppingListAsync(request);
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Adding item failed", e.Message);
            AddToError(e.ToString());
            return;
        }

        searchBar.ResetInput();
        searchBar.ResetOptions();

        await LoadShoppingListAsync();
        StateHasChanged();
    }

    private async Task OnItemBasketStatusChangedAsync(ShoppingListItem item)
    {
        if (item.IsInBasket)
        {
            item.RemoveFromBasket();
            var request = new RemoveItemFromBasketRequest(Guid.NewGuid(), shoppingList.Id, item.Id);
            await commandQueue.Enqueue(request);
        }
        else
        {
            item.PutInBasket();
            var request = new PutItemInBasketRequest(Guid.NewGuid(), shoppingList.Id, item.Id);
            await commandQueue.Enqueue(request);
        }
    }

    private async Task OnItemRemovedFromListAsync(ShoppingListItem item)
    {
        shoppingList.Remove(item.Id);
        var request = new RemoveItemFromShoppingListRequest(Guid.NewGuid(), shoppingList.Id, item.Id);
        await commandQueue.Enqueue(request);
    }

    private async Task OnItemQuantityChangedAsync(ShoppingListItem item)
    {
        var request = new ChangeItemQuantityOnShoppingListRequest(Guid.NewGuid(), shoppingList.Id, item.Id,
        item.Quantity);
        await commandQueue.Enqueue(request);
    }

    private async void OnFinishListButtonClicked()
    {
        var request = new FinishListRequest(Guid.NewGuid(), shoppingList.Id);
        await apiClient.FinishListAsync(request);
        await LoadShoppingListAsync();
    }
    #endregion

    private async Task ReloadAfterProcessingErrorAsync()
    {
        hasProcessingError = false;
        await LoadShoppingListAsync();
    }

    private RenderFragment GetButtonRenderFragment(Action<object[]> callback, object[] args, string label = "Retry")
    {
        return@<Button Type="@ButtonType.Primary" OnClick="() => callback(args)">@label</Button>;
}

private RenderFragment GetAsyncButtonRenderFragment(Func<object[], Task> callback, object[] args, string label = "Retry")
{
return@<Button Type="@ButtonType.Primary" OnClick="async () => await callback(args)">@label</Button>;
}
}