@page "/items"
@page "/items/{ItemId:int}"
@inject ProjectHermes.ShoppingList.Frontend.Infrastructure.Connection.IApiClient apiClient;
@inject ProjectHermes.ShoppingList.Frontend.WebApp.Service.IShoppingListNotificationService notificationService;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Components.Items;
@using ProjectHermes.ShoppingList.Frontend.Models;
@using ProjectHermes.ShoppingList.Frontend.Models.Items;
@using ProjectHermes.ShoppingList.Frontend.Models.Shared.Requests;

<div>
    @if (currentlyEditedItem == null)
    {
        <div class="d-flex">
            <div class="h4">Items</div>
            <Button @onclick="OnCreateItemButtonClicked" Class="d-flex align-items-center ml-auto">
                <Icon Type="plus"></Icon>
            </Button>
        </div>
        <div>
            <div class="d-flex py-1">
                <div class="mr-2 align-self-center">
                    Store
                </div>
                <Select Mode="Tags" Placeholder="Stores" @ref="@storesSelectRef" Class="min-w-100">
                    @foreach (var store in stores)
                    {
                        <SelectOption Value=@store.Id.ToString()>@store.Name</SelectOption>
                    }
                </Select>
            </div>
            <div class="d-flex py-1">
                <div class="mr-2 align-self-center">
                    Category
                </div>
                <Select Mode="Tags" Placeholder="Category" @ref="@itemCategoriesSelectRef" Class="min-w-100">
                    @foreach (var itemCategory in itemCategories)
                    {
                        <SelectOption Value="@itemCategory.Id.ToString()">@itemCategory.Name</SelectOption>
                    }
                </Select>
            </div>
            <div class="d-flex py-1">
                <div class="mr-2 align-self-center">
                    Manufacturer
                </div>
                <Select Mode="Tags" Placeholder="Manufacturer" @ref="@manufacturersSelectRef" Class="min-w-100">
                    @foreach (var manufacturer in manufacturers)
                    {
                        <SelectOption Value="@manufacturer.Id.ToString()">@manufacturer.Name</SelectOption>
                    }
                </Select>
            </div>
            <Button @onclick="@OnLoadButtonClickedAsync">Load</Button>
        </div>
        <div>
            <!-- result item list -->
            @foreach (var item in items)
            {
                <ItemFilterResultComponent Item="@item"
                                           OnClickCallback="@OnItemClickedAsync"></ItemFilterResultComponent>
            }
        </div>
    }
    else
    {
        <ItemEditor StoreItem="@currentlyEditedItem"
                    Stores="@stores"
                    Manufacturers="@manufacturers"
                    ItemCategories="@itemCategories"
                    QuantityTypes="@quantityTypes"
                    QuantityTypesInPacket="@quantityTypesInPacket"
                    UpdateItemCallback="@OnItemUpdatedAsync"
                    ModifyItemCallback="@OnItemModifiedAsync"
                    CreateItemCallback="@OnItemCreatedAsync"
                    DeleteItemCallback="@OnItemDeletedAsync"
                    MakeTemporaryItemPermanentCallback="@OnMakeTemporaryItemPermanentAsync"
                    LeaveEditorCallback="@OnLeaveEditor"
                    ManufacturerCreatedCallback="@OnNewManufacturerCreated"
                    ItemCategoryCreatedCallback="@OnNewItemCategoryCreated"></ItemEditor>
    }
</div>

@code {
    [Parameter] public int? ItemId { get; set; }

    private List<Store> stores = new List<Store>();
    private List<ItemCategory> itemCategories = new List<ItemCategory>();
    private List<Manufacturer> manufacturers = new List<Manufacturer>();
    private List<ItemFilterResult> items = new List<ItemFilterResult>();
    private List<QuantityType> quantityTypes = new List<QuantityType>();
    private List<QuantityTypeInPacket> quantityTypesInPacket = new List<QuantityTypeInPacket>();

    private Select storesSelectRef;
    private Select itemCategoriesSelectRef;
    private Select manufacturersSelectRef;

    private StoreItem currentlyEditedItem = null;

    protected async override Task OnInitializedAsync()
    {
        await InitialLoad();

        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (ItemId.HasValue)
        {
            await OnItemClickedAsync(ItemId.Value);
        }

        await base.OnParametersSetAsync();
    }

    private async Task InitialLoad()
    {
        try
        {
            stores = (await apiClient.GetAllActiveStoresAsync()).ToList();
            manufacturers = (await apiClient.GetAllActiveManufacturersAsync()).ToList();
            itemCategories = (await apiClient.GetAllActiveItemCategoriesAsync()).ToList();
            quantityTypes = (await apiClient.GetAllQuantityTypesAsync()).ToList();
            quantityTypesInPacket = (await apiClient.GetAllQuantityTypesInPacketAsync()).ToList();
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Page loading failed", e.Message,
                GetButtonRenderFragment(
                    async (items) => await InitialLoad(),
                    new object[0]));
            return;
        }
    }

    private async Task OnLoadButtonClickedAsync()
    {
        var stores = storesSelectRef.SelectedValues.Value.AsT1.Select(s => int.Parse(s)).ToList();
        var itemCategories = itemCategoriesSelectRef.SelectedValues.Value.AsT1.Select(cat => int.Parse(cat)).ToList();
        var manufacturers = manufacturersSelectRef.SelectedValues.Value.AsT1.Select(m => int.Parse(m)).ToList();
        try
        {

            items = (await apiClient.GetItemFilterResultAsync(
                    stores,
                    itemCategories,
                    manufacturers))
                .ToList();
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Item loading failed", e.Message,
                GetButtonRenderFragment(
                    async (items) => await OnLoadButtonClickedAsync(),
                    new object[0]));
            return;
        }
        StateHasChanged();
    }

    private async Task LoadManufacturerList()
    {
        try
        {
            manufacturers = (await apiClient.GetAllActiveManufacturersAsync()).ToList();
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Loading manufacturers failed", e.Message,
                GetButtonRenderFragment(
                    async (items) => await LoadManufacturerList(),
                    new object[0]));
            return;
        }
    }

    private async Task OnItemClickedAsync(int itemId)
    {
        try
        {
            currentlyEditedItem = await apiClient.GetItemByIdAsync(itemId);
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Loading item failed", e.Message,
                GetButtonRenderFragment(
                    async (items) => await OnItemClickedAsync((int)items[0]),
                    new object[] { itemId }));
            return;
        }
    }

    private async Task OnItemUpdatedAsync(StoreItem storeItem)
    {
        var request = new UpdateItemRequest(Guid.NewGuid(), storeItem);
        try
        {
            await apiClient.UpdateItemAsync(request);
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Updating item failed", e.Message,
                GetButtonRenderFragment(
                    async (items) => await OnItemUpdatedAsync((StoreItem)items[0]),
                    new object[] { storeItem }));
            return;
        }
        LeaveEditor();
    }

    private async Task OnItemModifiedAsync(StoreItem storeItem)
    {
        var request = new ModifyItemRequest(Guid.NewGuid(), storeItem);
        try
        {
            await apiClient.ModifyItemAsync(request);
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Modifying item failed", e.Message,
                GetButtonRenderFragment(
                    async (items) => await OnItemModifiedAsync((StoreItem)items[0]),
                    new object[] { storeItem }));
            return;
        }
        LeaveEditor();
    }

    private async Task OnItemDeletedAsync(int itemId)
    {
        var request = new DeleteItemRequest(Guid.NewGuid(), itemId);
        try
        {
            await apiClient.DeleteItemAsync(request);
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Deleting item failed", e.Message,
                GetButtonRenderFragment(
                    async (items) => await OnItemDeletedAsync((int)items[0]),
                    new object[] { itemId }));
            return;
        }
        LeaveEditor();
    }

    private async Task OnItemCreatedAsync(StoreItem storeItem)
    {
        var request = new CreateItemRequest(Guid.NewGuid(), storeItem);
        try
        {
            await apiClient.CreateItemAsync(request);
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Creating item failed", e.Message,
                GetButtonRenderFragment(
                    async (items) => await OnItemCreatedAsync((StoreItem)items[0]),
                    new object[] { storeItem }));
            return;
        }
        LeaveEditor();
    }

    private async Task OnMakeTemporaryItemPermanentAsync(StoreItem storeItem)
    {
        var request = new MakeTemporaryItemPermanentRequest(storeItem.Id, storeItem.Name, storeItem.Comment,
            storeItem.QuantityType.Id, storeItem.QuantityInPacket, storeItem.QuantityInPacketType.Id,
            storeItem.ItemCategoryId.Value, storeItem.ManufacturerId, storeItem.Availabilities);
        try
        {
            await apiClient.MakeTemporaryItemPermanent(request);
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Creating item failed", e.Message,
                GetButtonRenderFragment(
                    async (items) => await OnMakeTemporaryItemPermanentAsync((StoreItem)items[0]),
                    new object[] { storeItem }));
            return;
        }
        LeaveEditor();
    }

    private void OnCreateItemButtonClicked()
    {
        // ugly
        currentlyEditedItem =
            new StoreItem(0, "", false, "", false,
                new QuantityType(0, "", 0, "", "", 0), 0,
                new QuantityTypeInPacket(0, "", ""), 1, 1, new List<StoreItemAvailability>());
    }

    private async Task OnNewManufacturerCreated(string name)
    {
        try
        {
            await apiClient.CreateManufacturerAsync(name);
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Creating manufacturer failed", e.Message,
                GetButtonRenderFragment(
                    async (items) => await OnNewManufacturerCreated((string)items[0]),
                    new object[] { name }));
            return;
        }
        await LoadManufacturerList();
        StateHasChanged();
    }

    private async Task OnNewItemCategoryCreated(string name)
    {
        try
        {
            await apiClient.CreateItemCategoryAsync(name);
            itemCategories = (await apiClient.GetAllActiveItemCategoriesAsync()).ToList();
        }
        catch (Exception e)
        {
            notificationService.NotifyError("Creating item category failed", e.Message,
                GetButtonRenderFragment(
                    async (items) => await OnNewItemCategoryCreated((string)items[0]),
                    new object[] { name }));
            return;
        }
        StateHasChanged();
    }

    private void OnLeaveEditor()
    {
        LeaveEditor();
    }

    private void LeaveEditor()
    {
        currentlyEditedItem = null;
    }

    private RenderFragment GetButtonRenderFragment(Func<object[], Task> callback, object[] args, string label = "Retry")
    {
        return@<Button Type="@ButtonType.Primary" OnClick="async () => await callback(args)">@label</Button>;
}
}