@page "/"

@inject ProjectHermes.ShoppingList.Frontend.Infrastructure.Connection.IApiClient apiClient;
@inject ProjectHermes.ShoppingList.Frontend.Infrastructure.Connection.ICommandQueue commandQueue;
@inject ProjectHermes.ShoppingList.Frontend.WebApp.Services.Notification.IShoppingListNotificationService notificationService;
@inject ProjectHermes.ShoppingList.Frontend.WebApp.Services.IItemPriceCalculationService itemPriceCalculationService;
@inject IWebAssemblyHostEnvironment Env;

@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Components.Index;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Components.Common;
@using ProjectHermes.ShoppingList.Frontend.Models;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Services.Error;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Index.Models;
@using ProjectHermes.ShoppingList.Frontend.Models.Shared.Requests;

@namespace ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Index

<div>
    @if (errorHandler.ApiHasProcessingError)
    {
        <ProcessingError ReloadCallback="@ReloadAfterProcessingErrorAsync"></ProcessingError>
    }
    <div class="mb-1 d-flex justify-content-end align-items-center">
        <DebugSwitch DebugHandler="@errorHandler"></DebugSwitch>
        <StoreSelect Page="@state" ErrorHandler="@errorHandler"></StoreSelect>
        <ItemVisiblityButton State="@state"></ItemVisiblityButton>
        <Button class="mr-1 d-flex align-items-center" OnClick="@OnEditModeButtonClicked"
                Disabled="@(state.ShoppingList?.Store == null)">
            <Icon Type="edit" />
        </Button>
    </div>
    <ItemSearchBar ReloadShoppingListAsync="@ReloadShoppingListAsync"
                   ErrorHandler="@errorHandler"
                   Page="@state"></ItemSearchBar>
    <div>
        @foreach (var section in GetNonEmptySections())
        {
            <Section State="@state"
                     Model="@section"></Section>
        }
    </div>
    <div class="d-flex justify-content-end">
        <Button Type="@ButtonType.Primary"
                OnClick="@OnFinishListButtonClicked"
                Class="mr-2"
                Disabled="@(!state.ShoppingList?.AnyItemInBasket ?? true)">
            Finish List
        </Button>
    </div>
    <ErrorStack ErrorHandler="@errorHandler"></ErrorStack>
</div>

@code{
    private ShoppingListState state;
    private ErrorHandler errorHandler;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await itemPriceCalculationService.InitializeAsync();

        errorHandler.StateChanged += () => StateHasChanged();
        errorHandler.QueueProcessed += async () => await ReloadShoppingListAsync();
        state.StateChanged += () => StateHasChanged();
        state.ReloadRequestedAsync += async (storeId) => await LoadShoppingListAsync(storeId);

        commandQueue.Initialize(errorHandler);

        StateHasChanged();
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        state = new ShoppingListState(null, true, false);
        errorHandler = new ErrorHandler(isDebug: Env.IsDevelopment(),
            (action, args, label) => GetButtonRenderFragment(action, args, label),
            notificationService);

        return base.SetParametersAsync(parameters);
    }

    #region Loading

    private async Task ReloadShoppingListAsync()
    {
        await LoadShoppingListAsync(state.ShoppingList.Store.Id);
    }

    private async Task LoadShoppingListAsync(int storeId)
    {
        try
        {
            var shoppingList = await apiClient.GetActiveShoppingListByStoreIdAsync(storeId);
            state.ChangeList(shoppingList);
            Console.WriteLine($"Loaded shopping list with {shoppingList.Items.Count} items");
        }
        catch (Exception e)
        {
            throw;
        }
        StateHasChanged();
    }
    #endregion

    private IEnumerable<ShoppingListSection> GetNonEmptySections()
    {
        return state.ShoppingList?.Sections.Where(s => s.Items.Any()) ?? Enumerable.Empty<ShoppingListSection>();
    }

    #region Callbacks

    private void OnEditModeButtonClicked()
    {
        state.ToggleItemEditMode();
        StateHasChanged();
    }

    private async void OnFinishListButtonClicked()
    {
        var request = new FinishListRequest(Guid.NewGuid(), state.ShoppingList.Id);
        await apiClient.FinishListAsync(request);
        await ReloadShoppingListAsync();
    }
    #endregion

    private async Task ReloadAfterProcessingErrorAsync()
    {
        errorHandler.ResolveProcessingError();
        await ReloadShoppingListAsync();
    }

    private RenderFragment GetButtonRenderFragment(Action<object[]> callback, object[] args, string label = "Retry")
    {
        return@<Button Type="@ButtonType.Primary" OnClick="() => callback(args)">@label</Button>;
}
}