@page "/"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject ProjectHermes.ShoppingList.Frontend.WebApp.Services.Notification.IShoppingListNotificationService _notificationService;
@inject IItemPriceCalculationService _itemPriceCalculationService;
@inject IShoppingListApiService _apiService;
@inject IWebAssemblyHostEnvironment _env;

@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Components.Index;
@using ProjectHermes.ShoppingList.Frontend.WebApp.Components.Common;
@using ProjectHermes.ShoppingList.Frontend.Models.ShoppingLists.Models
@using ProjectHermes.ShoppingList.Frontend.Models.ShoppingLists.Services
@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Index.Models;
@using Fluxor
@using global::ShoppingList.Frontend.Redux.ShoppingList.Actions
@using ShoppingListReduxState = global::ShoppingList.Frontend.Redux.ShoppingList.States
@using ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Index.Services

@inject IState<ShoppingListReduxState.ShoppingListState> State
@inject IDispatcher Dispatcher

@namespace ProjectHermes.ShoppingList.Frontend.WebApp.Pages.Index

@if (State != null && _state != null)
{
    <div>
        @if (_errorHandler.ApiHasProcessingError)
        {
            <ProcessingError ReloadCallback="@ReloadAfterProcessingErrorAsync"></ProcessingError>
        }
        <div class="mb-1 d-flex justify-content-end align-items-center">
            <DebugSwitch DebugHandler="@_errorHandler"></DebugSwitch>
            <StoreSelect></StoreSelect>
            <ItemVisiblityButton State="@_state"></ItemVisiblityButton>
            <Button class="mr-1 d-flex align-items-center" OnClick="@OnEditModeButtonClicked"
                    Disabled="@(_state.ShoppingList?.Store == null)">
                <Icon Type="edit" />
            </Button>
        </div>
        <ItemSearchBar ReloadShoppingListAsync="@ReloadShoppingListAsync"
                       ErrorHandler="@_errorHandler"
                       State="@_state"></ItemSearchBar>
        @if (State.Value.ShoppingList is not null)
        {
            <div>
                @*@foreach (var section in GetSections())*@
                @foreach(var section in State.Value.GetSectionsToDisplay())
                {
                    <Section Model="section"></Section>
                }
            </div>
        }
        @if (State.Value.ShoppingList != null && _state.ShoppingList != null)
        {
            <div class="d-flex align-items-end flex-column px-2">
                <div class="d-flex border-top pt-1">
                    <div class="d-flex">
                        <span>@GetInBasketPrice()</span>
                        <span>€</span>
                    </div>
                    <span class="px-1">/</span>
                    <div class="d-flex">
                        <span>@GetTotalListPrice()</span>
                        <span>€</span>
                    </div>
                </div>
            </div>
        }
        <Summary 
            State="@_state"
            FragmentCreator="@_errorHandler"
            OnFinishList="async () => await ReloadShoppingListAsync()"></Summary>
        <ErrorStack ErrorHandler="@_errorHandler"></ErrorStack>
    </div>
}

@code{
    private ShoppingListState _state;
    private ErrorHandler _errorHandler;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        Dispatcher.Dispatch(new LoadQuantityTypesAction());
        Dispatcher.Dispatch(new LoadQuantityTypesInPacketAction());
        Dispatcher.Dispatch(new LoadAllActiveStoresAction());
        
        _errorHandler.StateChanged += StateHasChanged;
        _errorHandler.QueueProcessed += async () => await ReloadShoppingListAsync();
        _state.StateChanged += StateHasChanged;
        _state.ReloadRequestedAsync += async storeId => await LoadShoppingListAsync(storeId);

        _apiService.InitializeCommandQueue(_errorHandler);

        StateHasChanged();
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        _state = new ShoppingListState(null, true, false);
        _errorHandler = new ErrorHandler(
            _env.IsDevelopment(),
            GetButtonRenderFragment,
            GetAsyncButtonRenderFragment,
            _notificationService);

        return base.SetParametersAsync(parameters);
    }

    #region Loading

    private async Task ReloadShoppingListAsync()
    {
        await LoadShoppingListAsync(_state.ShoppingList.Store.Id);
    }

    private async Task LoadShoppingListAsync(Guid storeId)
    {
        await _apiService.LoadActiveShoppingListAsync(storeId, _errorHandler, list => _state.ChangeList(list));
    }

    #endregion

    private IEnumerable<ShoppingListSection> GetSections()
    {
        return _state.ShoppingList?.GetNonEmptySections(!_state.ItemsInBasketVisible) ?? Enumerable.Empty<ShoppingListSection>();
    }

    #region Callbacks

    private void OnEditModeButtonClicked()
    {
        _state.ToggleItemEditMode();
    }
    #endregion

    private string GetTotalListPrice()
    {
        var price = _state.ShoppingList.GetTotalPrice(_itemPriceCalculationService);
        return $"{price:0.00}";
    }

    private string GetInBasketPrice()
    {
        return _state.ShoppingList.GetFormattedInBasketPrice(_itemPriceCalculationService);
    }

    private async Task ReloadAfterProcessingErrorAsync()
    {
        _errorHandler.ResolveProcessingError();
        await ReloadShoppingListAsync();
    }

    private RenderFragment GetButtonRenderFragment(Action callback, string label = "Retry")
    {
        return @<Button Type="@ButtonType.Primary" OnClick="callback">@label</Button>;
    }

    private RenderFragment GetAsyncButtonRenderFragment(Func<Task> callback, string label = "Retry")
    {
        return @<Button Type="@ButtonType.Primary" OnClick="async () => await callback()">@label</Button>;
    }
}